*~
*.html
*.beam
.rebar3
_*
Mnesia.*
.eunit
*.o
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
rebar3.crashdump
[0-9][0-9]-*.pdf
flex-ag.zip
erlbank/nginx/sites-enabled/default.conf
flex-ag
erlbank/*/*.dets
xirbank/*/*.dets

# IntelliJ #
*.iml
.idea/*

# Mac #
.DS_Store
.env

# VSCode
bin
.vscode
/account.dets
/person.dets
/table_id.dets
/transfer.dets
/event_id.dets
